.general_styles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_container {
  border: 0.2rem solid green;
  box-shadow: 0.2rem 0.2rem 1rem green;
  border-radius: 1rem;
  width: 25rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_text {
  text-align: center;
}

.input_styles {
  margin: 0.3rem;
}

.list_style {
  text-align: center;
  list-style: none;
  padding-right: 2rem;
}
